.vs/
x64/
Debug/
Release/
log
Praktika-1-2-3-4-5/Praktika.eddd0c14/x64/Debug/Praktika-1-2-3-4-5.ilk
Praktika-1-2-3-4-5/Praktika.eddd0c14/x64/Debug/Praktika-1-2-3-4-5.log
Praktika-1-2-3-4-5/Praktika.eddd0c14/x64/Debug/Praktika-1-2-3-4-5.obj
Praktika-1-2-3-4-5/Praktika.eddd0c14/x64/Debug/Praktika.eddd0c14.tlog/CL.read.1.tlog
Praktika-1-2-3-4-5/Praktika.eddd0c14/x64/Debug/vc145.idb
Praktika-1-2-3-4-5/Praktika.eddd0c14/x64/Debug/vc145.pdb
Praktika-1-2-3-4-5/x64/Debug/Praktika-1-2-3-4-5.exe
Praktika-1-2-3-4-5/x64/Debug/Praktika-1-2-3-4-5.pdb
